@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to the Biathlon Store</h1>
    <p class="lead">Your one-stop shop for your skiing and shooting needs.</p>
    <p><a href='@Url.Action("Index", "Products")' class="btn btn-primary btn-lg">Products &raquo;</a></p>
</div>

